<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code & Bunch</title>

  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- Bungee -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">


  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

</head>

<body>
  <nav>
    <span class="logo"> <img src="https://cdn.discordapp.com/attachments/1092902086754173019/1106026816784830555/logo.png" alt=""> </span>
    <p>Home</p>
    <p>Menu</p>
    <p>About Us</p>
    <p>Contact</p>
    <p><i class="	fas fa-user-alt"></i></p>
    <p><i class="fa-solid fa-phone"></i></p>
    <p><i class="fa fa-shopping-bag"></i></p>
  </nav>
  <main class="container">
    <p>FOOD</p>
    <p>DESCRIPTION NEEDS TO BE ENTERED</p>
  </main>

  <head>
    <main class="container">
      <section class="menu-items">
        <div class="items">
          <h1>MENU</h1>
    <main class="container">
      <section class="menu-items">
        <ol>Insert food</ol>
        <ol>insert food</ol>
        <ol>insert food</ol>
        <ol>insert food</ol>
        <ol>insert food</ol>
        <ol>insert food</ol>
        <ol>insert food</ol>
        <ol>insert food</ol>
        <ol>insert food</ol>
        <ol>insert food</ol>
      </section>
    </main>


  </head>
</body>

</html>
