* {
  box-sizing: border-box;
}

nav {
  top: 0;
  left: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
  height: 120px;
  color: #ffffff;
  background-color: #ffffff;
  background-image: url("https://uploads-ssl.webflow.com/6085c4d5081981d775cc9e13/60fedf804735d165f65cf525_One%20meal%20a%20day.-p-2600.jpeg")
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 8px;
}

.nav-items {
  display: flex;
}

.nav-items p {
  margin-right: 1rem;
  font-size: 2em;
}

.nav-items p a {
  color: inherit;
  text-decoration: none;
}

#logout:hover {
  cursor: pointer;
}
