nav span {
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  min-height: 100 vh;
  justify-content: space-between;
  font-size: 20px;

  background: rgb(0, 0, 0);
}

#cart{
  color: rgb(255, 0, 0);
}
